<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8b83b79753.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
<div class="imagen">
            <img src="/images/logo-mercado-liebre.svg" alt="">
    
</div>
        <div class="search">
            <form action="#footer">
                <input type="text"
                    placeholder="Buscar productos"
                    name="search">
                <button>
                    <i class="fa fa-search">
                    </i>
                </button>
            </form>
        </div>
    </div>      
      <div class="compra">
        <p><i class="fa-solid fa-hand-holding-dollar"></i>comprá en cuotas y sin tarjeta de crédito</p>
      </div>
<div class="primero">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
</div>
<div class="segundo">
            <ul>
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-sharp fa-solid fa-right-to-bracket"></i></li>
                <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
</div>
        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
           <div class="visita">

<div class="seccion-pr">
                     <h3>Basado en tu última visita</h3>
</div>
<div class="producto">
                     <div class="producto-img">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="">
                     </div>
                    <div class="producto-descr">
                         <i class="fa-solid fa-truck camion"></i>
                         <div class="precio-des">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                           </div>
                         <h4 class="titulo-pr">Cafetera Moulinex</h4>
                    </div>
</div>

<div class="producto">
                     <div class="producto-img">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="">
                     </div>
                     <div class="producto-descr">
                        <i class="fa-solid fa-truck camion"></i>
                        <div class="precio-des">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                           </div>
                        <h4 class="titulo-pr">MacBook Pro 2019</h4>
                     </div>
</div>
            
<div class="producto">
                     <div class="producto-img">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                     </div>
                     <div class="producto-descr">
                        <i class="fa-solid fa-truck camion"></i>
                     <div class="precio-des">
                           <p class="precio">$70.500</p>
                           <p class="descuento">10% OFF</p>
                     </div>
                        <h4 class="titulo-pr">Samsung Galaxy S10</h4>
                     </div>
</div>
            
<div class="producto">
                     <div class="producto-img">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="">
                     </div>
                     <div class="producto-descr">
                        <i class="fa-solid fa-truck camion"></i>
                        <div class="precio-des">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                           </div>
                        <h4 class="titulo-pr">Smart TV Samsung 43"</h4>
                     </div>
</div>
             </div>
            
             
        </section>
        <section>
            <div class="visita">

                <div class="seccion-pr">
                   <h3>Ofertas</h3>
                </div>

<div class="producto">
                    <div class="producto-img">
                       <img src="/images/img-cafetera-moulinex.jpg" alt="">
                    </div>
                    <div class="producto-descr">
                       <i class="fa-solid fa-truck camion"></i>
                       <div class="precio-des">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                       </div>
                       <h4 class="titulo-pr">Cafetera Moulinex</h4>
                    </div>
</div>
           
<div class="producto">
                    <div class="producto-img">
                       <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    </div>
                   <div class="producto-descr">
                           <i class="fa-solid fa-truck camion"></i>
                           <div class="precio-des">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                           </div>
                           <h4 class="titulo-pr">Smart TV Samsung 43"</h4>
                   </div>
</div>
           
<div class="producto">
                    <div class="producto-img">
                       <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    </div>
                   <div class="producto-descr">
                        <i class="fa-solid fa-truck camion"></i>
                        <div class="precio-des">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                           </div>
                        <h4 class="titulo-pr">Samsung Galaxy S10</h4>
                   </div>
</div>
                
<div class="producto">
                    <div class="producto-img">
                       <img src="/images/img-macbook-pro-2019.jpg" alt="">
                    </div>
                    <div class="producto-descr">
                       <i class="fa-solid fa-truck camion"></i>
                       <div class="precio-des">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                       </div>
                       <h4 class="titulo-pr">MacBook Pro 2019</h4>
                    </div>
</div>
          </div>
        </section>
    </main>
    <footer id="footer">
        <div class="footer">
            
<div class="footer-titulos">
                <i class="iconos fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
                
</div>
<div class="footer-titulos">
                <i class="iconos fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
                
</div>
<div class="footer-titulos">
                <i class="iconos fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
</div>
<div class="footer-titulos">
                <p>
                    Copyright © 1999-2020 MercadoLiebre S.R.L.
                </p>
</div>
        </div>
    </footer>
</body>
</html>