:root{
    --color-amarillo : #EAC926;
    --color-azul : #03264C;
    --color-celeste : #1259C3;
    --color-grisobscuro : #666;
    --color-grisclaro : #EBEBEB;
    --color-verde : #39B54A;
    /*texto*/
    --cuerpo-tamanio : 12px;
    --titulo-tamanio : 24px;
    --precios-tamanio : 18px;
    --descuentos-tamanio : 16px;
    --descripciones-tamanio : 16px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';

}